body{
  min-height: 100vh;
  min-width: 90%;
  position: relative;
}

.BarreNavigation {
    align-items: center;
    background-color: rgb(241, 215, 235);
    display: flex;
   /* flex-direction: row;*/
    justify-content:space-between;
   /* padding: 20px;*/
   margin-bottom: 70px;


}
.BarreNavigation img {
  padding-left: 20px;
  width: 150px;
  height: 80px;
}
.BarreNavigation li{
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 font-weight: bold;
 display: inline;
 margin: 1rem;
 list-style: none;
}
.BarreNavigation a {
  text-decoration: none;
  color:rgb(17, 13, 6);

}

.About {
  display: flex;
  align-items: center;
  justify-content: space-between;


}
.About h4{
  font-size: 14px;
  margin: 10px ;
  font-display:block;
  background-color: rgb(241, 215, 235);
  padding: 20px;
  align-content: center;
  color: black;
  
  
}
.About img {
  width: 300;
  height: 300;
  margin-top: 50px;
}
  i {
  position:sticky;  
  border: 3mm ridge rgba(220, 50, 209, 0.6);
  padding: 5px;
  margin-bottom: 50px;
  width: 100%;

 
}
.entremet {
  display: flex;
  justify-content:space-around;
  border-top: 40px;
  padding: 50px;
  margin-top: 50px;

}
.entremet h2{
  padding-right: 30px;
  display: flex;
  align-content: center;
  align-items: center;
  color: blueviolet;
  text-shadow: 2cm;
}
.entremet a{
  display: flex;
 align-content:flex-start;
  align-items:flex-end;

 

 }
 .entremet tableau{
  display: flex;
   flex-wrap:wrap;
 }
.entremet img{
  padding: 50px;
  display: flex;
  align-items: center;

}
.entremet p{
  padding: 50px;
  display: flex;
  align-items: center;
  background:  rgb(241, 215, 235);
}