@media screen and (max-width: 300px) {
  /* write your CSS in this code block */
}
.BarreNavigation {
    align-items: center;
    background-color: rgb(241, 215, 235);
    display: flex;
   /* flex-direction: row;*/
    justify-content:space-between;
   /* padding: 20px;*/
   margin-bottom: 70px;


}
.BarreNavigation img {
  padding-left: 20px;
  width: 150px;
  height: 80px;
}
.BarreNavigation li{
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 font-weight: bold;
 display: inline;
 margin: 1rem;
 list-style: none;
}
.BarreNavigation a {
  text-decoration: none;
  color:rgb(17, 13, 6);

}

.About {
  display: flex;
  align-items: center;
  justify-content: space-between;


}
.About h4{
  font-size: 14px;
  margin: 10px ;
  font-display:block;
  background-color: rgb(241, 215, 235);
  padding: 20px;
  align-content: center;
  color: black;
  
  
}
.About img {
  width: 300;
  height: 300;
  margin-top: 50px;
}
  i {
   border: 3mm ridge rgba(220, 50, 209, 0.6);
  padding: 5px;
  margin-bottom: 50px;
  width: 100%;
  

 
}
.entremet {
  display: flex;
  justify-content:space-around;
  border-top: 40px;
  padding: 50px;
  margin-top: 50px;

}
.entremet h2{
  padding-right: 30px;
  display: flex;
  align-content: center;
  align-items: center;
  color: blueviolet;
  text-shadow: 2cm;
}
.entremet a{
  display: flex;
 align-content:flex-start;
  align-items:flex-end;
 }
 .entremet tableau{
  display: flex;
   flex-wrap:wrap;
 }
.entremet img{
  padding: 50px;
  display: flex;
  align-items: center;

}
.entremet p{
  padding: 50px;
  display: flex;
  align-items: center;
  background:  rgb(241, 215, 235);
}
.macaron {
  display: flex;
  justify-content:space-around;
  border-top: 40px;
  padding: 50px;
 /* margin-top: 50px;*/

}
.macaron h2{
  padding-right: 30px;
  display: flex;
  align-content: center;
  align-items: center;
  color: blueviolet;
  text-shadow: 2cm;
}
.macaron  a{
  display: flex;
 align-content:flex-start;
  align-items:flex-end;
 }
 .macaron tableau{
  display: flex;
   flex-wrap:wrap;
 }
.macaron img{
  width: 500;
  padding: 50px;
  display: flex;
  align-items: center;
  align-content: center;
}
.macaron p {
  padding: 50px;
  display: flex;
  align-items: center;
  align-content: center;
  background:  rgb(241, 215, 235);
}
.tarte {
  display: flex;
  justify-content:space-around;
  border-top: 40px;
  padding: 50px;
 /* margin-top: 50px;*/

}
.tarte h2{
  padding-right: 30px;
  display: flex;
  align-content: center;
  align-items: center;
  color: blueviolet;
  text-shadow: 2cm;
}
.tarte  a{
  display: flex;
 align-content:flex-start;
  align-items:flex-end;
 }
 .tarte tableau{
  display: flex;
   flex-wrap:wrap;
 }
.tarte img{
  padding: 50px;
  display: flex;
  align-items: center;
  align-content: center;
}
.tarte p {
  padding: 50px;
  display: flex;
  align-items: center;
  align-content: center;
  background:  rgb(241, 215, 235);
}
.resume h3{
  color: blueviolet;
}
.contactus {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  padding: 30px;
  
}
.contactus h3, label{
  color: blueviolet;
}
.contactus form {

  display: flex;
  flex-flow: row wrap;
  justify-content:space-between;
  align-items: center;
  top:50px;
  padding-left: 50px:
}
  .contactus div button
  {color:  rgb(44, 6, 80);
    width: 50px;
  }